# {{ ansible_managed }}

{% if maxmind_package.version is defined and maxmind_package.version < '3.1.1' %}
# Settings for geoipupdate < 3.1.1
UserId {{ maxmind_settings_AccountID }}
{% else %}
# Settings for geoipupdate >= 3.1.1
AccountID {{ maxmind_settings_AccountID }}
{% endif %}
LicenseKey {{ maxmind_settings_LicenseKey }}
{% if maxmind_package.version is defined and maxmind_package.version < '3.1.1' %}
ProductIds{% for item in maxmind_settings_EditionIDs %} {{ item }}{% endfor %}

{% else %}
EditionIDs{% for item in maxmind_settings_EditionIDs %} {{ item }}{% endfor %}

{% endif %}

{% if maxmind_settings_DatabaseDirectory is defined and maxmind_settings_DatabaseDirectory != '/usr/share/GeoIP' %}
DatabaseDirectory {{ maxmind_settings_DatabaseDirectory }}
{% endif %}
{% if maxmind_settings_Host is defined and maxmind_settings_Host|length %}
Host {{ maxmind_settings_Host }}
{% endif %}
{% if maxmind_settings_Proxy is defined and maxmind_settings_Proxy|length %}
Proxy {{ maxmind_settings_Proxy }}
{% endif %}
{% if maxmind_settings_ProxyUserPassword is defined and maxmind_settings_ProxyUserPassword|string|length %}
ProxyUserPassword {{ maxmind_settings_ProxyUserPassword }}
{% endif %}
{% if maxmind_settings_PreserveFileTimes is defined and maxmind_settings_PreserveFileTimes|length %}
PreserveFileTimes {{ maxmind_settings_PreserveFileTimes }}
{% endif %}
{% if maxmind_settings_LockFile is defined and maxmind_settings_LockFile|length %}
LockFile {{ maxmind_settings_LockFile }}
{% endif %}

